matplotlib==3.2.2
imageio==2.4.1
stellargraph==1.2.1
pygraphviz==1.7
torch==1.8.1+cu101
torch_geometric==1.7.0
scipy==1.4.1
torchvision==0.9.1+cu101
requests==2.23.0
grad_cam==1.2.9
tqdm==4.41.1
scikit_image==0.16.2
networkx==2.5.1
pandas==1.1.5
opencv_python==4.1.2.30
numpy==1.19.5
tensorflow==2.5.0
ipython==7.24.1
Pillow==8.2.0
scikit_learn==0.24.2
skimage==0.0